HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Configuration files ###
src/**/*.yml
!src/main/resources/application-exam.yml
!src/main/resources/application.yml
.env*
!.env.exam


### Docker ###

# Redis
docker/redis/data
docker/redis/log

# MariadDB
docker/mariadb/data
docker/mariadb/log

#gemini
docs/